<!DOCTYPE html>
<html lang="en" ng-app="myContacts" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MyContacts App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="/css/bootsrap.min.css"> -->
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="large-12 columns">
        <h1>myContacts</h1>
        <hr>
      </div>
    </div>
    <div ng-view></div>
  </div>
  <script src="/js/jquery-2.1.1.min.js"></script>
  <!--<script src="/js/bootstrap.min.js"></script>-->
  <script src="/js/angular-1.4.7/angular.min.js"></script>
  <script src="/js/angular-1.4.7/angular-route.min.js"></script>
  <script src="/js/firebase.js"></script>
  <script src="/js/angularfire.min.js"></script>
  <script src="/js/foundation/foundation.js"></script>
  <script src="/js/contacts.js"></script>
</body>
</html>